a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration,input[type=search]::-webkit-search-results-button,input[type=search]::-webkit-search-results-decoration{-webkit-appearance:none;-moz-appearance:none}input[type=search]{-webkit-appearance:none;-moz-appearance:none;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}textarea{overflow:auto;vertical-align:top;resize:vertical}audio,canvas,video{display:inline-block;max-width:100%}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}a:focus{outline:thin dotted}a:active,a:hover{outline:0}img{border:0;-ms-interpolation-mode:bicubic}figure{margin:0}form{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0;white-space:normal}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline}button,input{line-height:normal}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}button,html,input,select,textarea{color:#222}::-moz-selection{background:#b3d4fc;text-shadow:none}::selection{background:#b3d4fc;text-shadow:none}img{vertical-align:middle}fieldset{border:0;margin:0;padding:0}textarea{resize:vertical}.chromeframe{margin:.2em 0;background:#ccc;color:#000;padding:.2em 0}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

html {
    font-size: 62.5%;
}

img {
    width: 100%;
}

/* general stylings */

.wrapper {
    max-width: 1350px;
    margin: 0 auto;
    width: 90%;
}

.hidden {
    display: none;
}

h1, h2, h3, button {
    text-transform: uppercase;
}

h1, h2, h3, p, button {
    color: white;
}

h1 {
    font-size: 18.2rem;
    color: white;
    font-family: 'Italiana', serif;
    text-align: right;
    line-height: 162px
}

h2 {
    font-size: 5.1rem;
    font-family: 'Italiana', serif;
    margin-bottom: 10px;
}

h3 {
    font-size: 3rem;
    font-family: 'Italiana', serif;
}

p {
    font-size: 2rem;
    line-height: 2.9rem;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

button {
    border: 2px solid #FABA63;
    background-color: rgba(0, 0, 0, 0.0);
    padding: 10px;
    font-size: 2.5rem;
    margin-top: 20px;
    font-family: 'Italiana', serif;
}

button a {
    text-decoration: none;
    color: white;
}

button:hover,
button:focus {
    background-color: #FABA63;
    transition: all .3s;
}

nav li a, header p {
    color: #FABA63;
    font-family: 'Lato', sans-serif;
}

nav li a:hover,
nav li a:focus {
    color: white;
    transition: all .3s;
}

/* group the background colors here when done */

/* nav section */

.topNav li {
    float: left;
    margin: 20px 60px 0px 0px;
}

nav li a {
    text-decoration: none;
    font-size: 2rem;
    line-height: 2.9rem;
}

.hiddenMenu nav {
    position: relative;
    color: white;
    font-size: 4rem;
}

.hiddenMenu label {
    position: absolute;
    right: 0;
    top: 20px;
}

.hiddenMenu label i {
    font-size: 4rem;
    transform: scale(1.75, 1);
}

/* slide out menu */

ul.hiddenNav {
    background: #201E21;
    border-right: 5px solid #FABA63;
    position: fixed;
    margin-top: 0px;
	z-index: 10;
	width: 40%; 
	left: -40%; 
	top: 0;
	height: 100%;
	transition: all 0.5s; 
}

.hiddenNav li a {
	border-bottom: 1px solid grey;
    display: inline-block;
    font-family: 'Italiana', serif;
    font-size: 3rem;
    text-decoration: none;
    color: white;
	width: 100%;
	padding: 20px;
    transition: all 0.3s; 
}

input[type="checkbox"]:checked + ul.hiddenNav {
    left: 0;
}

input[type="checkbox"] {
    display: none;
}

label[for="toggle"] {
    position: fixed;
	top: 20px;
    right: 40px;
    color: white;
    font-size: 4rem;
	z-index: 10;
}

.hiddenNav .companyName {
    position: relative;
    top: 50px;
    right: 30px;
    transform: scale(.7);
}

.hiddenNav ul {
    position: absolute;
    bottom: 20px;
    left: 2%;
    width: 100%;
}

.hiddenNav ul li a {
    border: none;
    float: left;
    padding-right: 20px;
    width: calc((100% / 4) - 10px);
}

.hiddenNav ul li a:last-of-type {
    padding-right: 0px;
}

/* header section */

header {
    background: url(./assets/header-2.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
}

header div {
    position: relative;
}

header span {
    display: inline-block;
    text-align: left;
    max-width: 100%;
}

header span::before {
    content: "-";
}

header span::after {
    content: "-";
}

.companyName {
    max-width: 100%;
    position: absolute;
    top: 250px;
    left: 30px;
}

.socialMedia {
    float: right;
    position: absolute;
    top: 75%;
    right: 5%;
}

.socialMedia a {
    display: block;
    color: white;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

header p {
    font-size: 4.5rem;
    line-height: 4.6rem;
    font-weight: 300;
    text-align: right;
}

/* about section */

.about {
    min-height: 50vh;
    background: #14171F;
}

/* increase the size of the image */

.about .imageContainer {
    max-width: 27%;
    float: left;
    padding-right: 50px;
    margin: 120px 0;
}

.imageContainer {
    max-width: 100%;
}

.about .article {
    max-width: 73%;
    float: left;
    margin-top: 120px;
}

.about .article p {
    margin-bottom: 8px;
}


/* collections section */

.collection {
    background: #201E21;
}

.collection h2 {
    text-align: center;
    padding: 100px 0;
}


.collection .imageContainer {
    float: left;
    max-width: calc((100% / 3) - 33.5px);
}

.collection .imageContainer:first-of-type {
    margin: 0px 50px 120px 0px;
}

.collection .imageContainer:last-of-type {
    margin: 0px 0px 150px 50px;
}

/* links section */

.linkBanner {
    background: #14171F;
    height: 35vh;
}

.linkBanner i {
    color: #FABA63;
    font-size: 7.5rem;
    display: block;
    text-align: center;
    margin-bottom: 30px;
}

.linkBanner a {
    text-decoration: none;
}

.linkBanner h3 {
    text-align: center;
}

.linkBanner div div {
    width: calc(100% / 3);
    float: left;
    padding-top: 70px;
}

/* blog section */

.blog {
    background: #201E21;
}

.blog .article p {
    margin-bottom: 20px;
}

.blogContainer {
    position: relative;
    max-height: 100%;
}

.blogTop .article, .blog .imageContainer,
.blogBottom .article{
    float: left;
    max-width: 50%;
}

.blogContainer .imageContainerTop{
    position: absolute;
    right: 0px;
    top: 0px;
}

.blogTop .article {
    padding: 150px 100px 151px 0px;
}

.blogBottom .article {
    padding: 160px 0px 150px 100px;
    float: right;
}

.blogTop .article h2 {
    width: 50%;
}

.imageContainerBottom {
    height: 100%;
}


/* bottom navigation area */


.bottomNavArea, .hiddenBottomNav {
    background: #14171F;
    /* min-height: 33vh; */
}

.container {
    min-height: 100%;
}

.container div {
    float: left;
}

.bottomNav ul, .hiddenBottomNav ul {
    padding-top: 100px;
}

.bottomNav li a, .hiddenBottomNav li a {
    color: white;
    font-family: 'Italiana', serif;
    text-transform: uppercase;
}

.bottomNav li a:hover, .hiddenBottomNav li a:hover,
.bottomNav li a:focus, .hiddenBottomNav li a:focus {
    color: #FABA63;
    transition: all .3s;
}

.bottomNav li, .hiddenBottomNav li {
    width: 100%;
}

.bottomNav, .contact {
    width: 25%;
    min-height: 40vh;
}

.newsletter {
    width: 50%;
    text-align: center;
    min-height: 33vh;
    padding-top: 100px;
}

.newsletter h3 {
    margin-bottom: 10px;
}

.emailContainer {
    margin: 0 auto;
    width: 100%;
}

input[type='email'] {
    width: 75%;
    padding: 15px 30px;
    font-size: 2rem;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    border: 0;
}

.emailContainer button {
    background: black;
    border: 1px solid #201E21;
    width: 24%;
    position: relative;
    bottom: 2px;
    font-size: 1.7rem;
    padding: 18px;
}

.emailContainer button:hover,
.emailContainer button:focus {
    color: white;
    border: 2px solid white;
}

.emailContainer {
    height: 50px;
    position: relative;
    bottom: 10px;
}

.contact {
    text-align: right;
    padding-top: 120px;
}

.contact h3 {
    font-size: 2.5rem;
    position: relative;
    bottom: 20px;
}

.contact p {
    font-weight: 300;
}


/* footer */

footer {
    background: black;
}

footer p  {
    text-align: center; 
    font-size: 1.8rem;
    padding: 5px 0;
}

/* media queries */

/* Portrait tablet and small desktops */
@media (max-width: 1000px) {

    header {
        background-position: -400px;
    }

     /* about section */

    .about .imageContainer, .about .article {
        float: none;
    }

    .about .imageContainer {
        display: none;
        padding: 80px 0px 80px 0px;
    }

    .about .hiddenImageContainer {
        display: inline-block;
        padding: 80px 0px 50px 0px;
    }

    .about .article {
        max-width: 100%;
        margin-top: 0px;
    }

    .about h2, .about p {
        text-align: center;
    }
    .about .article p {
        margin-bottom: 0px;
    }

    .about div div:last-child{
        width: 156px;
        margin: 0 auto;
        padding: 50px 0px;
    }

    .about button {
        margin: 0;
    }

    /* blog section */

    .blogTop .article,
    .blogBottom .article{
        max-width: 100%;
        float: right;
        text-align: center;
    }

    .blogTop .article {
        padding-right: 0px;
    }

    .blogTop .article, .blogBottom .article {
        padding: 50px 0px;
    }

    .blogTop .article h2, .blogTop p {
        width: 100%;
        
    }

    .imageContainerBottom {
        display: none;
    }

    .hiddenImageContainerBottom {
        display: inline-block;
    }
    
    .blog .imageContainer {
        max-width: 100%;
    }

    .blogContainer .imageContainerTop {
        display: none;
    }

    /* crop photo in css somehow, or in photoshop */

    .imageContainerBottom img {
        object-fit: fill;
    }

    .hiddenContainer {
        display: block;
    }

    .blogTop {
        display: block;
    }

    /* bottom contact info*/

    .bottomNav {
        display: none;
    }

    .hiddenBottomNav {
        min-height: 100%;
        display: inline-block;
    }

    .container div {
        float: none;
    }

    .hiddenBottomNav ul li {
        float: left;
        width: 20%;
    }

    .hiddenBottomNav li a {
        text-transform: none;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
    }

    .hiddenBottomNav ul {
        padding-top: 50px;
    }

    .hiddenBottomNav, .contact, .newsletter {
        width: 100%;
    }

    .newsletter {
        padding-top: 50px;
    }

    .emailContainer {
        padding-top: 30px;
    }

    input[type='email'], .emailContainer button {
        width: 100%;
        bottom: 0px;
        font-size: 3rem;
    }

    input[type='email'] {
        padding-left: 0px;
        text-align: center;
    }

    .emailContainer button {
        margin-top: 10px;
        font-size: 3rem;
    }

    .contact {
        text-align: center;
        padding: 100px 0px 60px 0px;
        min-height: 100%;
    }
    
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {

    /* general styles */

    header {
        background-position: -600px;
    }

    /* nav section */

    .hiddenMenu {
        display: block;
        position: fixed;
        z-index: 999;
    }

    .topNav {
        display: none;
    }

    .socialMedia {
        display: none;
    }

    /* hero page styles */


    h1 {
        font-size: 9rem;
        line-height: 9rem;
    }

    header p {
        font-size: 3rem;
    }

    .companyName {
        top: 200px;
        left: 0px;
    }

    /* collection section */

    .collection .imageContainer {
        max-width: calc((100% / 2) - 25px);
    }

    .collectionImages div:last-of-type {
        display: none;
    }

    /* banner links section */
    
    .linkBanner {
        height: 100%;
    }

    .linkBanner div div {
        width: 100%;
        float: none;
        padding-top: 50px;
    }

    .linkBanner div div:first-of-type {
        padding-top: 100px;
    }

    .linkBanner div div:last-of-type{
        padding-bottom: 100px;
    }

    

}

/* Landscape phones and down */
@media (max-width: 480px) {

    
    header  {
        background-image: url(./assets/header-1.jpg);
        background-position: 0px;
    }

    h1  {
        font-size: 6rem;
        line-height: 6rem;
    }

    h2 {
        font-size: 3.5rem;
    }

    .article p {
        text-align: left;
        padding-top: 20px;
        font-size: 2.5rem;
        line-height: 4rem;
        font-weight: 300;
    }

    .collection h2 {
        padding-top: 70px;
    }

    .collection .imageContainer {
        max-width: calc((100% / 2) - 7.5px);
    }

    .collection .imageContainer:first-of-type {
        margin: 0px 15px 70px 0px;
    }

}